@using Incoding.MvcContrib
@using Test.UI.Operations
@using Test.UI.Operations.Command
@using Test.UI.Operations.Query



@{/*
     string div_result_id = "D95BD840-8D65-4138-A2F2-BE345780F1D9";
     using (var template = Html.Incoding().Template<GetResultQuery.Result>())
    {
        <div id="@div_result_id">
            
           
            @using (var each = template.ForEach())
            {
                
               <div> @each.For(r => r.Name)</div>
               <div> @each.For(r => r.Sername)</div>
                <div> @each.For(r => r.Count)</div>
                <div> @each.For(r => r.Price)</div>
                <div> @each.For(r => r.Start_time)</div>
                <div> @each.For(r => r.End_time)</div>
                <div> длительность</div>
                <div> денег с каждого</div>
                <div> денег всего</div>
            }
        </div>*/
    }
    
}
