@using Incoding.MvcContrib
@using Test.UI.Operations
@using Test.UI.Operations.Command
@using Test.UI.Operations.Query

@{
     string div_stattoday_id = "9E2CDD1F-BDE4-401F-B464-197118018D3C";
     using (var tem = Html.Incoding().Template<GetStatisticsTodayQuery.StatTodayResponse>())
    {
       
        <div id="@div_stattoday_id" style="padding: 4px">
            <style type="text/css">
                .tmplstat{
                    color: #000030; 
                    font-size:18px ; }
            </style>
            
            <div class="tmplstat">Статистика за </div>

            @using (var each = tem.ForEach())
            {
                <div class="tmplstat">сегодня, @each.For(r => r.DayOfWeek)  </div>
                <p></p>
                <div class="tmplstat">Сумма: @each.For(r => r.SumToday) </div>
                
                <div class="tmplstat">Велосипедов: @each.For(r => r.CountBikes)</div>
                <div class="tmplstat">Записей: @each.For(r => r.CountMens)</div>
            }
            
            <div style="position: relative;  bottom: 2px; top: 2px">
                @(Html.When(JqueryBind.Click)
                      .Direct()
                      .OnSuccess(
                          dsl =>
                          {
                              dsl.WithId(div_stattoday_id).Core().JQuery.Manipulation.Remove();
                              dsl.WithId("9ED54E9F-4FF8-466B-B8A3-432F6DA92444").Core().JQuery.Css.Set("opacity", 0);
                              // dsl.WithId("85136C08-5A41-41A2-B188-30602CC0945F").Core().Trigger.Invoke(JqueryBind.Incoding);
                          })
                      .AsHtmlAttributes()
                      .ToButton("Закрыть")
                      )
            </div>
        </div>
    }
    
}
