@using Incoding.MvcContrib
@using Test.UI.Operations.Command
@using Test.UI.Operations.Query

@{
    string table_id = " D7A6C343-5944-4BB9-84E0-50F0287490C6";
    string result_id = "1BBE9F09-D78C-44B4-916D-A9F030441AD6";
    string btn_stop_name = "45C41990-1427-42BF-AC62-1ACB6A43F78E";
    //string result_id = "BFB3205E-F956-4C45-AF4C-3D07CC910349";
    using (var template = Html.Incoding().Template<GetCustomersQuery.Response>())
    {
        
    <table id="@table_id">
        <thead>
            <tr>
                <th>Фамилия</th><th>Имя</th><th>Отчество</th><th>Количество</th><th>Тариф</th><th>Время_старта</th><th></th>
            </tr>
        </thead>
        @using (var each = template.ForEach())
        {
            <tr>
                <td>@each.For(r => r.Sername)</td>
                <td>@each.For(r => r.Name)</td>
                <td>@each.For(r => r.FatherName)</td>
                <td>@each.For(r=>r.Count)</td>
                <td>@each.For(r=>r.Price)</td>
                <td>@each.For(r=>r.Start_time)</td>
                <td>
                    @(Html.When(JqueryBind.None)
                          .AjaxGet(Url.Dispatcher().Query(new GetResultQuery()
                          {Id = each.For(r=>r.Id)}).AsJson())
                          .OnSuccess(dsl =>
                          {
                              var urlTmplu = Url.Dispatcher().AsView("~/Views/Customer/Result.cshtml");
                              dsl.WithId("89E66E7D-B3DA-46E5-ACDD-E3025EFD2033").Core().JQuery.Css.Set("opacity", 1);   
                              dsl.WithId("89E66E7D-B3DA-46E5-ACDD-E3025EFD2033").Core().Insert.WithTemplateByUrl(urlTmplu).Html();
                          })
                          .AsHtmlAttributes(new { id = result_id })
                          .ToDiv())

                    @(Html.When(JqueryBind.Click)
                          .AjaxPost(Url.Dispatcher()
                              .Push(new DeactivateTimeTrackByIdCommand()
                              {
                                  deactivate_id = each.For(r=>r.Id)
                              }))
                          .OnSuccess(dsl =>
                          {
                              // dsl.Utilities.Window.Alert("Внимание, поездка остановлена!");
                              dsl.WithId(result_id).Core().Trigger.Invoke(JqueryBind.None);
                              dsl.With(s => s.Self().Closest(r => r.Tag(HtmlTag.Tr)))
                                  .Core().JQuery.Manipulation.Remove();
                                  
                          })
                          .AsHtmlAttributes(new {name = btn_stop_name})
                          .ToButton("STOP"))
                        
                </td>
            </tr>
                
        }
    </table>
       
    }
}